h1.header {
  margin-bottom: 20px;
}

.school {
  margin-bottom: 4px;
}

.photo {
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

.toc {
  margin-top: 100px;
}

.section {
  margin-bottom: 50px;
}
