html {
  scroll-behavior: smooth;
}

h1.header {
  margin-bottom: 0px !important;
}

.school {
  margin-bottom: 4px;
}

.photo {
  margin-bottom: 10px;
}

.toc {
  margin-top: 70px;
}

.section {
  padding-top: 20px;
  margin-bottom: 100px;
}

.emoji {
  font-size: 50px;
}

.subheader {
  color: black;
}

.subheader:hover {
  color: #9453fa;
  cursor: pointer;
}

.abis {
  padding-bottom: 500px;
}
