html {
  scroll-behavior: smooth;
}

.video,
.photo,
.subheader,
h1.header,
h3.header,
h5.header {
  margin-bottom: 10px !important;
}

.video {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(175, 175, 175);
}

.welcome {
  padding-bottom: 30px;
}

.school {
  margin-bottom: 4px;
}

.toc {
  margin-top: 80px;
}

.section {
  padding-top: 20px;
  margin-bottom: 100px;
}

.item {
  margin-bottom: 40px;
}

.emoji {
  margin-right: 20px;
}

.subheader-1 {
  color: #dbc9f8;
  /* margin-bottom: 0px; */
}

.subheader-2 {
  color: rgb(175, 175, 175);
  /* color: #fdb515; */
}

.subheader-3 {
  color: rgb(175, 175, 175);
  /* color: #3ecc77; */
}

.subheader-4 {
  color: rgb(175, 175, 175);
  /* color: #ff4337; */
}

.subheader-1:hover,
.subheader-2:hover,
.subheader-3:hover,
.subheader-4:hover {
  color: #9453fa;
  cursor: pointer;
  transition: 0.15s;
}

.abis {
  padding-bottom: 1000px;
}

.image {
  margin-left: 10px;
  max-height: 65px;
  width: 60px;
  float: left;
  padding: 0 0 20px 0;
}

.img {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(175, 175, 175);

  /* margin-left: 2px; */
}

.img:hover {
  /* -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s; */
  transition: 0.1s;
  box-shadow: 1px 5px 10px #888888;
}

.grid {
  overflow: hidden;
  margin-bottom: 10px;
}
